body{
    padding-bottom: 20px;
    color: black;
    
}
.navbar-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    
}
.navbar-wrapper .navbar .container{
    width: auto;
}
.carousel{
    height: 400px;
    margin-bottom: 50px;
}

.carousel .item{
    height: 400px;
    background-color: brown
}

.carousel-inner > .item >img{
    position: absolute;
    height: 500px;
    min-width: 100%;
    top: 0;
    left: 0;
    
}
.team .col-md-4{
    text-align: center;
}

.team h2{
    color: rgba(50,50,50,0.8);
}
.team p{
    margin-right: 10px;
    margin-left: 10px;
}

.divider{
    margin: 40px 0;
}

.para{
    text-align: center;
    padding-left: 50px;
    padding-top: 50px;
}
.content{
    margin-bottom: 30px;
}

footer{
    margin: 0 85px;
}







