body{
    padding-top: 20px;
}

.nav-justified{
    background-color: beige;
    border-radius: 5px;
    border: 1px solid black;
}
.nav-justified > li > a{

    padding: 15px 0;
    text-align: center;
}

.jumbotron > p > a{

    color: black;

}
