body{
    padding-top: 20px;
}

.nav-justified{
    background-color: beige;
    border-radius: 5px;
    border: 1px solid black;
}
.nav-justified > li > a{

    padding: 15px 0;
    text-align: center;
}

.jumbotron{
    text-align: center;

}

.jumbotron .btn{

    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 22px;
}
